<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4"> <!-- 중간 크기 화면에서 4열 너비 -->
            <div class="text-center mb-4">
                <h2>LOGIN</h2>
            </div>
            <form action="/login" method="post">
                <!-- CSRF Token -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <div class="mb-3">
                    <label for="loginId" class="form-label">ID</label>
                    <input type="text" id="loginId" name="loginId" class="form-control" placeholder="Please enter your ID." required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Please enter your password." required>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-lg" type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
